In [1]:
import pymongo
from urllib.parse import quote_plus

# URL-encode the username and password
username = quote_plus("srivastavrishi89")
password = quote_plus("qwerty@1234A")

# Use the encoded username and password in the connection string
client = pymongo.MongoClient(f"mongodb+srv://{username}:{password}@cluster0.vt96wbi.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
db = client.test

In [2]:
pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in c:\users\asus\appdata\roaming\python\python313\site-packages (4.12.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\asus\appdata\roaming\python\python313\site-packages (from pymongo) (2.7.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
db

Database(MongoClient(host=['ac-pooebhz-shard-00-00.vt96wbi.mongodb.net:27017', 'ac-pooebhz-shard-00-02.vt96wbi.mongodb.net:27017', 'ac-pooebhz-shard-00-01.vt96wbi.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-oweibs-shard-0', tls=True), 'test')

In [4]:
db = client["pwskills"]

In [5]:
data = {"Name": "Rishabh", "Email":"asdsf@2346gmail.com","Time": "2:00 PM", "Course": "Data Science", "Duration": "3 months"}

In [6]:
coll_pwskills = db["my_record"].insert_one(data)

In [7]:
data1 = {"Name": "Rishabh", "Email": "asdfc124@gmail.com", "Phone": "1232433214"}

In [8]:
coll_pwskills = db["my_record"].insert_one(data1)

In [9]:
data2 = [
	(1, 'John', 'Smith', 'john.smith@email.com', 28, 'New York'),
	(2, 'Emma', 'Johnson', 'emma.j@email.com', 34, 'Los Angeles'),
	(3, 'Michael', 'Brown', 'michael.brown@email.com', 45, 'Chicago'),
	(4, 'Sarah', 'Davis', 'sarah.davis@email.com', 19, 'Houston'),
	(5, 'David', 'Wilson', 'david.w@email.com', 52, 'Phoenix'),
	(6, 'Lisa', 'Anderson', 'lisa.a@email.com', 26, 'Philadelphia'),
	(7, 'James', 'Taylor', 'james.taylor@email.com', 38, 'San Antonio'),
	(8, 'Emily', 'Martinez', 'emily.m@email.com', 31, 'San Diego'),
	(9, 'Robert', 'Thomas', 'robert.thomas@email.com', 29, 'Dallas'),
	(10, 'Jennifer', 'Lee', 'jennifer.lee@email.com', 41, 'San Jose')
]

In [10]:
# Insert each record from data2 into the MongoDB collection
for record in data2:
    document = {
        "id": record[0],
        "first_name": record[1],
        "last_name": record[2],
        "email": record[3],
        "age": record[4],
        "city": record[5]
    }
    coll_pwskills = db["my_record"].insert_one(document)

In [11]:
for i in db["my_record"].find():
    print(i)

{'_id': ObjectId('680676278eab4484f32b7140'), 'Name': 'Rishabh', 'Email': 'asdsf@2346gmail.com', 'Time': '2:00 PM', 'Course': 'Data Science', 'Duration': '3 months'}
{'_id': ObjectId('680676c98eab4484f32b7141'), 'Name': 'Rishabh', 'Email': 'asdfc124@gmail.com', 'Phone': '1232433214'}
{'_id': ObjectId('6806784c8eab4484f32b7142'), 'Name': 'Rishabh', 'Email': 'asdsf@2346gmail.com', 'Time': '2:00 PM', 'Course': 'Data Science', 'Duration': '3 months'}
{'_id': ObjectId('6806784c8eab4484f32b7143'), 'Name': 'Rishabh', 'Email': 'asdfc124@gmail.com', 'Phone': '1232433214'}
{'_id': ObjectId('6806a2288eab4484f32b7144'), 'id': 1, 'first_name': 'John', 'last_name': 'Smith', 'email': 'john.smith@email.com', 'age': 28, 'city': 'New York'}
{'_id': ObjectId('6806a2298eab4484f32b7145'), 'id': 2, 'first_name': 'Emma', 'last_name': 'Johnson', 'email': 'emma.j@email.com', 'age': 34, 'city': 'Los Angeles'}
{'_id': ObjectId('6806a2298eab4484f32b7146'), 'id': 3, 'first_name': 'Michael', 'last_name': 'Brown', 'email': 'michael.brown@email.com', 'age': 45, 'city': 'Chicago'}
{'_id': ObjectId('6806a2298eab4484f32b7147'), 'id': 4, 'first_name': 'Sarah', 'last_name': 'Davis', 'email': 'sarah.davis@email.com', 'age': 19, 'city': 'Houston'}
{'_id': ObjectId('6806a2298eab4484f32b7148'), 'id': 5, 'first_name': 'David', 'last_name': 'Wilson', 'email': 'david.w@email.com', 'age': 52, 'city': 'Phoenix'}
{'_id': ObjectId('6806a2298eab4484f32b7149'), 'id': 6, 'first_name': 'Lisa', 'last_name': 'Anderson', 'email': 'lisa.a@email.com', 'age': 26, 'city': 'Philadelphia'}
{'_id': ObjectId('6806a2298eab4484f32b714a'), 'id': 7, 'first_name': 'James', 'last_name': 'Taylor', 'email': 'james.taylor@email.com', 'age': 38, 'city': 'San Antonio'}
{'_id': ObjectId('6806a2298eab4484f32b714b'), 'id': 8, 'first_name': 'Emily', 'last_name': 'Martinez', 'email': 'emily.m@email.com', 'age': 31, 'city': 'San Diego'}
{'_id': ObjectId('6806a2298eab4484f32b714c'), 'id': 9, 'first_name': 'Robert', 'last_name': 'Thomas', 'email': 'robert.thomas@email.com', 'age': 29, 'city': 'Dallas'}
{'_id': ObjectId('6806a2298eab4484f32b714d'), 'id': 10, 'first_name': 'Jennifer', 'last_name': 'Lee', 'email': 'jennifer.lee@email.com', 'age': 41, 'city': 'San Jose'}
{'_id': ObjectId('680a90600dc8faa8dee8009f'), 'Name': 'Rishabh', 'Email': 'asdsf@2346gmail.com', 'Time': '2:00 PM', 'Course': 'Data Science', 'Duration': '3 months'}
{'_id': ObjectId('680a90610dc8faa8dee800a0'), 'Name': 'Rishabh', 'Email': 'asdfc124@gmail.com', 'Phone': '1232433214'}
{'_id': ObjectId('680a90610dc8faa8dee800a1'), 'id': 1, 'first_name': 'John', 'last_name': 'Smith', 'email': 'john.smith@email.com', 'age': 28, 'city': 'New York'}
{'_id': ObjectId('680a90610dc8faa8dee800a2'), 'id': 2, 'first_name': 'Emma', 'last_name': 'Johnson', 'email': 'emma.j@email.com', 'age': 34, 'city': 'Los Angeles'}
{'_id': ObjectId('680a90610dc8faa8dee800a3'), 'id': 3, 'first_name': 'Michael', 'last_name': 'Brown', 'email': 'michael.brown@email.com', 'age': 45, 'city': 'Chicago'}
{'_id': ObjectId('680a90610dc8faa8dee800a4'), 'id': 4, 'first_name': 'Sarah', 'last_name': 'Davis', 'email': 'sarah.davis@email.com', 'age': 19, 'city': 'Houston'}
{'_id': ObjectId('680a90610dc8faa8dee800a5'), 'id': 5, 'first_name': 'David', 'last_name': 'Wilson', 'email': 'david.w@email.com', 'age': 52, 'city': 'Phoenix'}
{'_id': ObjectId('680a90610dc8faa8dee800a6'), 'id': 6, 'first_name': 'Lisa', 'last_name': 'Anderson', 'email': 'lisa.a@email.com', 'age': 26, 'city': 'Philadelphia'}
{'_id': ObjectId('680a90610dc8faa8dee800a7'), 'id': 7, 'first_name': 'James', 'last_name': 'Taylor', 'email': 'james.taylor@email.com', 'age': 38, 'city': 'San Antonio'}
{'_id': ObjectId('680a90610dc8faa8dee800a8'), 'id': 8, 'first_name': 'Emily', 'last_name': 'Martinez', 'email': 'emily.m@email.com', 'age': 31, 'city': 'San Diego'}
{'_id': ObjectId('680a90610dc8faa8dee800a9'), 'id': 9, 'first_name': 'Robert', 'last_name': 'Thomas', 'email': 'robert.thomas@email.com', 'age': 29, 'city': 'Dallas'}
{'_id': ObjectId('680a90610dc8faa8dee800aa'), 'id': 10, 'first_name': 'Jennifer', 'last_name': 'Lee', 'email': 'jennifer.lee@email.com', 'age': 41, 'city': 'San Jose'}

In [12]:
for i in db["my_record"].find({"Name": "Rishabh"}):
    print(i)

{'_id': ObjectId('680676278eab4484f32b7140'), 'Name': 'Rishabh', 'Email': 'asdsf@2346gmail.com', 'Time': '2:00 PM', 'Course': 'Data Science', 'Duration': '3 months'}
{'_id': ObjectId('680676c98eab4484f32b7141'), 'Name': 'Rishabh', 'Email': 'asdfc124@gmail.com', 'Phone': '1232433214'}
{'_id': ObjectId('6806784c8eab4484f32b7142'), 'Name': 'Rishabh', 'Email': 'asdsf@2346gmail.com', 'Time': '2:00 PM', 'Course': 'Data Science', 'Duration': '3 months'}
{'_id': ObjectId('6806784c8eab4484f32b7143'), 'Name': 'Rishabh', 'Email': 'asdfc124@gmail.com', 'Phone': '1232433214'}
{'_id': ObjectId('680a90600dc8faa8dee8009f'), 'Name': 'Rishabh', 'Email': 'asdsf@2346gmail.com', 'Time': '2:00 PM', 'Course': 'Data Science', 'Duration': '3 months'}
{'_id': ObjectId('680a90610dc8faa8dee800a0'), 'Name': 'Rishabh', 'Email': 'asdfc124@gmail.com', 'Phone': '1232433214'}

In [13]:
coll_pwskills = db["my record"].update_one({"Name": "Rishabh"}, {"$set" :{"Name": "Sonu"}})

In [14]:
for i in db["my_record"].find():
    print(i)

{'_id': ObjectId('680676278eab4484f32b7140'), 'Name': 'Rishabh', 'Email': 'asdsf@2346gmail.com', 'Time': '2:00 PM', 'Course': 'Data Science', 'Duration': '3 months'}
{'_id': ObjectId('680676c98eab4484f32b7141'), 'Name': 'Rishabh', 'Email': 'asdfc124@gmail.com', 'Phone': '1232433214'}
{'_id': ObjectId('6806784c8eab4484f32b7142'), 'Name': 'Rishabh', 'Email': 'asdsf@2346gmail.com', 'Time': '2:00 PM', 'Course': 'Data Science', 'Duration': '3 months'}
{'_id': ObjectId('6806784c8eab4484f32b7143'), 'Name': 'Rishabh', 'Email': 'asdfc124@gmail.com', 'Phone': '1232433214'}
{'_id': ObjectId('6806a2288eab4484f32b7144'), 'id': 1, 'first_name': 'John', 'last_name': 'Smith', 'email': 'john.smith@email.com', 'age': 28, 'city': 'New York'}
{'_id': ObjectId('6806a2298eab4484f32b7145'), 'id': 2, 'first_name': 'Emma', 'last_name': 'Johnson', 'email': 'emma.j@email.com', 'age': 34, 'city': 'Los Angeles'}
{'_id': ObjectId('6806a2298eab4484f32b7146'), 'id': 3, 'first_name': 'Michael', 'last_name': 'Brown', 'email': 'michael.brown@email.com', 'age': 45, 'city': 'Chicago'}
{'_id': ObjectId('6806a2298eab4484f32b7147'), 'id': 4, 'first_name': 'Sarah', 'last_name': 'Davis', 'email': 'sarah.davis@email.com', 'age': 19, 'city': 'Houston'}
{'_id': ObjectId('6806a2298eab4484f32b7148'), 'id': 5, 'first_name': 'David', 'last_name': 'Wilson', 'email': 'david.w@email.com', 'age': 52, 'city': 'Phoenix'}
{'_id': ObjectId('6806a2298eab4484f32b7149'), 'id': 6, 'first_name': 'Lisa', 'last_name': 'Anderson', 'email': 'lisa.a@email.com', 'age': 26, 'city': 'Philadelphia'}
{'_id': ObjectId('6806a2298eab4484f32b714a'), 'id': 7, 'first_name': 'James', 'last_name': 'Taylor', 'email': 'james.taylor@email.com', 'age': 38, 'city': 'San Antonio'}
{'_id': ObjectId('6806a2298eab4484f32b714b'), 'id': 8, 'first_name': 'Emily', 'last_name': 'Martinez', 'email': 'emily.m@email.com', 'age': 31, 'city': 'San Diego'}
{'_id': ObjectId('6806a2298eab4484f32b714c'), 'id': 9, 'first_name': 'Robert', 'last_name': 'Thomas', 'email': 'robert.thomas@email.com', 'age': 29, 'city': 'Dallas'}
{'_id': ObjectId('6806a2298eab4484f32b714d'), 'id': 10, 'first_name': 'Jennifer', 'last_name': 'Lee', 'email': 'jennifer.lee@email.com', 'age': 41, 'city': 'San Jose'}
{'_id': ObjectId('680a90600dc8faa8dee8009f'), 'Name': 'Rishabh', 'Email': 'asdsf@2346gmail.com', 'Time': '2:00 PM', 'Course': 'Data Science', 'Duration': '3 months'}
{'_id': ObjectId('680a90610dc8faa8dee800a0'), 'Name': 'Rishabh', 'Email': 'asdfc124@gmail.com', 'Phone': '1232433214'}
{'_id': ObjectId('680a90610dc8faa8dee800a1'), 'id': 1, 'first_name': 'John', 'last_name': 'Smith', 'email': 'john.smith@email.com', 'age': 28, 'city': 'New York'}
{'_id': ObjectId('680a90610dc8faa8dee800a2'), 'id': 2, 'first_name': 'Emma', 'last_name': 'Johnson', 'email': 'emma.j@email.com', 'age': 34, 'city': 'Los Angeles'}
{'_id': ObjectId('680a90610dc8faa8dee800a3'), 'id': 3, 'first_name': 'Michael', 'last_name': 'Brown', 'email': 'michael.brown@email.com', 'age': 45, 'city': 'Chicago'}
{'_id': ObjectId('680a90610dc8faa8dee800a4'), 'id': 4, 'first_name': 'Sarah', 'last_name': 'Davis', 'email': 'sarah.davis@email.com', 'age': 19, 'city': 'Houston'}
{'_id': ObjectId('680a90610dc8faa8dee800a5'), 'id': 5, 'first_name': 'David', 'last_name': 'Wilson', 'email': 'david.w@email.com', 'age': 52, 'city': 'Phoenix'}
{'_id': ObjectId('680a90610dc8faa8dee800a6'), 'id': 6, 'first_name': 'Lisa', 'last_name': 'Anderson', 'email': 'lisa.a@email.com', 'age': 26, 'city': 'Philadelphia'}
{'_id': ObjectId('680a90610dc8faa8dee800a7'), 'id': 7, 'first_name': 'James', 'last_name': 'Taylor', 'email': 'james.taylor@email.com', 'age': 38, 'city': 'San Antonio'}
{'_id': ObjectId('680a90610dc8faa8dee800a8'), 'id': 8, 'first_name': 'Emily', 'last_name': 'Martinez', 'email': 'emily.m@email.com', 'age': 31, 'city': 'San Diego'}
{'_id': ObjectId('680a90610dc8faa8dee800a9'), 'id': 9, 'first_name': 'Robert', 'last_name': 'Thomas', 'email': 'robert.thomas@email.com', 'age': 29, 'city': 'Dallas'}
{'_id': ObjectId('680a90610dc8faa8dee800aa'), 'id': 10, 'first_name': 'Jennifer', 'last_name': 'Lee', 'email': 'jennifer.lee@email.com', 'age': 41, 'city': 'San Jose'}