In [6]:
n = int(input("Enter the limit"))
starting_point = 0
counter = 1
while counter <=n:
    starting_point = starting_point + counter
    counter = counter + 1
starting_point

10417330

In [11]:
n = int(input("Enter the number:"))
factorial = 1
while n > 0:
    factorial = factorial * n
    n = n - 1
factorial

1307674368000

In [2]:
#Fibonacci series using for loop

n = int(input("Enter the number:"))
a,b = 0,1
for i in range(n):
    print(a,end ="")
    a,b = b,a+b

01123

In [25]:
#using while loop
n = int(input("Enter the number: "))  
a, b = 0, 1
counter = 0  

while counter < n:
    print(a, end=" ")  
    a, b = b, a + b  
    counter += 1

0 1 1 2

In [26]:
s = "sudh"

In [27]:
s[::-1]

'hdus'

In [36]:
word = input("Enter the String")
reverse = ""
length = len(word)
while length > 0:
    reverse = reverse + word[length -1]
    length = length -1
print(reverse)

ihsir

In [40]:
#print table of numbers
n = int(input("Enter the number:"))
i = 1
while i <= 10:
    result = n * i
    print(n,"*",i,"=",result)
    i = i+1

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [42]:
n = 5
i = 1
while i<n:
    print(i)
    i = i +1
else:
    print("this will be executed once your ehile will complete it succesfully")

1
2
3
4
this will be executed once your ehile will complete it succesfully

In [ ]:
l = [1,2,3,4,5,6]
l1 =[]
for i in l:
  l1.append(i**2)
print(l1)

[1, 4, 9, 16, 25, 36]

In [49]:
#comprehension
[i**2 for i in l]

[1, 4, 9, 16, 25, 36]

In [52]:
[i for i in l if i % 2==0]

[2, 4, 6]

In [53]:
l1 = ["Rishi","Kumar","Srivastav","Varanasi","Uttar Pradesh"]

In [54]:
[i.upper() for i in l1]

['RISHI', 'KUMAR', 'SRIVASTAV', 'VARANASI', 'UTTAR PRADESH']

In [55]:
list(i**2 for i in l)

[1, 4, 9, 16, 25, 36]

In [56]:
d = {'keyA':1,'keyB':2,'keyC':3,'keyD':4}

In [57]:
{k:v**2 for k,v in d.items()}

{'keyA': 1, 'keyB': 4, 'keyC': 9, 'keyD': 16}

In [58]:
d.items()

dict_items([('keyA', 1), ('keyB', 2), ('keyC', 3), ('keyD', 4)])

In [59]:
{k :v for k,v in d.items() if v > 1}

{'keyB': 2, 'keyC': 3, 'keyD': 4}

In [ ]:
def test():
    print("This is my first function")
    test()

This is my first function

In [ ]:
#return stores the value and this can be used by the program
#print just print output the given varialbe or string  
def test1():
    return "This is my first return"
test1()

'This is my first return'

In [6]:
def test2():
    return "sonam",23,45,234.23,[1,23,34]
test2()

('sonam', 23, 45, 234.23, [1, 23, 34])

In [8]:
def test3():
    a = 5*6/7
    return a
test3()

4.285714285714286

In [10]:
def test4(a,b,c):
    d = a+b-c
    return d
test4(2,3,5)

0

In [1]:
def test5(a,b):
    return a+b
test5(4,5)

9

In [2]:
test5("Apple","Mango")

'AppleMango'

In [4]:
test5([1,2,3,4,5],[6,7,8,9,10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
def test6(b):
    l7 = []
    for i in l:
        if isinstance(i, (int, float)):  # Better practice than type()
            l7.append(i)
    return l7
l = [1,2,3,4,5,"Rishi","Kumar",[23,14,55,6547,75]]
result = test6(l)
print(result)

[1, 2, 3, 4, 5]

In [2]:
def test8(a):
    l =[]
    for i in a:
        if type(i) == list:
            for j in i:
                l.append(j)
        else:
            if type(i) == int or type(i) == float:
                    l.append(i)
    return l  
l = [1,2,3,4,5,"Rishi","Kumar",[23,14,55,6547,75]]
test8(l)

[1, 2, 3, 4, 5, 23, 14, 55, 6547, 75]

In [7]:
def test9(a):
    l = []
    for i in a:
        if isinstance(i, list):  # Check if 'i' is a list
            for j in i:
                if isinstance(j, (int, float)):
                    l.append(j)
        else:
            if isinstance(i, (int, float)):
                l.append(i)
    return l

l = [1, 2, 3, 4, 5, "Rishi", "Kumar", [23, 14, 55, 6547, 75]]
print(test9(l))

[1, 2, 3, 4, 5, 23, 14, 55, 6547, 75]

In [ ]:
# we pass infinite data in args no need of variable in it
def test10(*args):
    return args
test10(1,223,4,55,6,"csdcsd","sdacs",[123,3424324,434,534])

(1, 223, 4, 55, 6, 'csdcsd', 'sdacs', [123, 3424324, 434, 534])

In [ ]:
# if we pass a variable with a args then we have to clarify the value of variable otherwise it did'nt give the value the server becomes confuse

def test11(*args,a):
    return args,a
test11(1,'w23',2233,a= 67)

((1, 'w23', 2233), 67)

In [ ]:
#to execute the code we have to give the value of c,d 
def test12(c,d,a = 0,b = 1):
    return a,b,c,d
test12(3,4)

(0, 1, 3, 4)

In [17]:
# and we can also change the value of a,b
test12(2,5,a = 78)

(78, 1, 2, 5)

In [18]:
def test13(**kwargs):
    return kwargs
test13()

{}

In [20]:
type(test13())

dict

In [21]:
test13(a = [1,234,45],b= ["sdf","efds"],c =(212,132,3234))

{'a': [1, 234, 45], 'b': ['sdf', 'efds'], 'c': (212, 132, 3234)}